
@media(max-width: 940px){
    .Accordions{
        padding: 20px;
    }
    .Accordions > h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 30px;
    }
}

.Accordions > h1{
    color: #364844;
}

@media(min-width: 940px){
    .Accordions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Accordions > h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        font-size: 37px;
        line-height: 47px;
    }
}