.expandMenuButton img{
    width: 37px;
    height: 26px;
}

.mob_headerLogo{
    width: 62px;
    height: 19px;
}

.expandMenuButton{
    background-color: white;
}

.mob_header{
    height: 65px;
    justify-content: space-between;
    align-items: center;
}

.mob_header_contacts{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: flex-end;
    font-size: 13px;
}

.mob_header_contacts a{
    font-weight: 900;
    font-size: 15px;
}

.mob_header_menu{
    position: absolute;
    background-color: #1FA181;
    top: 65px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    flex-direction: column;
    row-gap: 15px;
    padding-left: 20px;
    padding-top: 40px;
}

.mob_header_menu a{
    color: white;
    font: 1em sans-serif;
}

.mob_header_menu button{
    width: 200px;
    height: 43px;
    border-radius: 50px;
    color: #1FA181;
}